# display management
set $laptop_display eDP-1
set $monitor HDMI-A-1
bindswitch --reload --locked lid:on output $laptop_display disable
bindswitch --reload --locked lid:off output $laptop_display enable

# Asus G14
bindsym XF86Launch1    exec playerctl play-pause
bindsym XF86Launch4    exec asusctl profile -n
bindsym XF86KbdBrightnessDown exec asusctl -p
bindsym XF86KbdBrightnessUp   exec asusctl -n
bindsym $mod+p         exec asusctl profile -n
