# audio
bindsym $mod+Ctrl+Up         exec pactl set-sink-volume @DEFAULT_SINK@ +5% && pamixer --get-volume > $WOBSOCK
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5% && pamixer --get-volume > $WOBSOCK

bindsym $mod+Ctrl+Down       exec pactl set-sink-volume @DEFAULT_SINK@ -5% && pamixer --get-volume > $WOBSOCK

bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5% && pamixer --get-volume > $WOBSOCK

bindsym XF86AudioMute        exec pactl set-sink-mute @DEFAULT_SINK@ toggle && ( pamixer --get-mute && echo 0 > $WOBSOCK ) || pamixer --get-volume > $WOBSOCK
bindsym XF86AudioMicMute     exec pactl set-source-mute @DEFAULT_SOURCE@ toggle

# music
bindsym XF86AudioPlay  exec playerctl play-pause
bindsym Ctrl+Alt+Up    exec playerctl play-pause
bindsym XF86AudioStop  exec playerctl stop
bindsym Ctrl+Alt+Down  exec playerctl stop
bindsym XF86AudioPrev  exec playerctl previous
bindsym Ctrl+Alt+Left  exec playerctl previous
bindsym XF86AudioNext  exec playerctl next
bindsym Ctrl+Alt+Right exec playerctl previous

# laptop stuff
bindsym XF86MonBrightnessUp   exec light -A 5 && light -G | cut -d'.' -f1 > $WOBSOCK
bindsym XF86MonBrightnessDown exec light -U 5 && light -G | cut -d'.' -f1 > $WOBSOCK

# screen capture
bindsym $mod+Shift+3 exec grimshot save output ~/Screenshot\ $(date +%Y-%m-%d-%H%M%S).png
bindsym $mod+Shift+4 exec grimshot save area ~/Screenshot\ $(date +%Y-%m-%d-%H%M%S).png
