# window rules
assign [app_id="^dev$"] workspace dev
assign [app_id="^mpdevil$"] workspace music
assign [app_id="^firefox$"] workspace www

for_window [app_id="firefox" title="Picture-in-Picture"] floating enable, sticky enable, border pixel 1
for_window [title="Firefox — Sharing Indicator"] {
  floating enable
  border pixel 1
  no_focus
  move absolute position 0 25
}

# use for_window for Electron apps because they are slow
for_window [app_id="Slack"] move container to workspace comms
for_window [app_id="discord"] move container to workspace comms
for_window [app_id="Signal"] move container to workspace comms
for_window [app_id="spotify"] move container to workspace music
for_window [instance="spotify"] move container to workspace music

# floating windows
for_window [app_id="imv"] floating enable
for_window [app_id="zoom"] floating enable
for_window [app_id="yubico.com.yubioath-desktop"] floating enable
for_window [app_id="org.gnome.Nautilus"] floating enable
for_window [app_id="mpv"] floating enable
for_window [app_id="mpv"] resize set 960 540
for_window [app_id="mpv"] border pixel 0
