# window rules
assign [app_id="^dev$"] workspace dev
assign [app_id="^mpdevil$"] workspace music
assign [app_id="^firefox$"] workspace www

# use for_window for Electron apps because they are slow
for_window [app_id="Slack"] move container to workspace comms
for_window [app_id="discord"] move container to workspace comms
for_window [app_id="Signal"] move container to workspace comms
for_window [app_id="spotify"] move container to workspace music
for_window [instance="spotify"] move container to workspace music

for_window [app_id="zoom"] floating enable
for_window [app_id="yubico.com.yubioath-desktop"] floating enable
