.ICEauthority
.IntelliJIdea*
.NERDTreeBookmarks
.SynologyDrive/
.Trash/
.Xauthority
.Xresources.local
.android/
.aptitude
.arquillian/
.awesome-client_history
.aws/
.azure/
.bundle/
.cache
.cargo
.cert/
.circleci/
.compiz
.config/.mono/
.config/.org.chromium.Chromium.no5SOx
.config/@trezor/
.config/BetterDiscord
.config/BetterDiscord Installer/
.config/BraveSoftware/
.config/Code - OSS/
.config/Code/CachedExtensionVSIXs/
.config/Code/Code Cache/
.config/Code/Session Storage/
.config/Code/TransportSecurity
.config/Electron/
.config/Meltytech/
.config/Plexamp/
.config/QtProject*
.config/Raspberry Pi/
.config/Signal/
.config/Slack/
.config/Unknown Organization/
.config/VirtualBox/
.config/Yubico/
.config/asciinema/
.config/autostart/
.config/awesome/icons
.config/bat
.config/beets/library.db
.config/cef_user_data
.config/chromium
.config/coc/*history.json
.config/coc/commands
.config/coc/db.json
.config/coc/extensions/coc-go-data/
.config/coc/extensions/coc-java-data/
.config/coc/extensions/coc-yank-data/
.config/coc/extensions/db.json
.config/coc/list_history.dat
.config/coc/lists
.config/coc/memos.json
.config/coc/mru
.config/coc/suggest.txt
.config/configstore
.config/dconf/
.config/devsupply/
.config/direnv/
.config/discord/
.config/doctl/
.config/easytag/
.config/enchant/
.config/eog/
.config/evince/
.config/evolution/
.config/freerdp/
.config/freshwrapper-data
.config/gh/
.config/ghb/
.config/github-copilot/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/bookmarks
.config/gtk-4.0/
.config/guvcview2/
.config/helm/
.config/heroku/
.config/htop/
.config/ibus/
.config/inkscape/
.config/insight-nodejs/
.config/iterm2/
.config/jgit/
.config/lapce-stable/
.config/letsencrypt/
.config/libreoffice/
.config/local
.config/looking-glass
.config/lutris
.config/memos.json
.config/menus
.config/mimeapps.list
.config/nautilus/
.config/ncspot/
.config/neofetch/
.config/neverfail/
.config/nixnote2/
.config/nvim/*
.config/obs-studio/
.config/pacmixer/
.config/pavucontrol.ini
.config/pgcli/history
.config/pgcli/log
.config/pulse/
.config/radeon-profile/
.config/skypeforlinux/
.config/spacefm/
.config/spicetify/
.config/spotdl/
.config/spotify/
.config/syncthing/
.config/systemd/
.config/telepresence/
.config/terminology/
.config/update-notifier/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vertiscale/
.config/vlc/
.config/zoomus.conf
.dlv/
.vscode-oss/
.cordova/
.cups/
.dbus/
.designer/
.dmrc
.docker/
.dropbox-dist/
.dropbox/
.dvdcss/
.eclipse/
.electron/
.fontconfig/
.fpp/
.freac/
.fzf*
.gem/
.gist-vim
.gitconfig
.gitkraken/
.gnome/
.gnupg/
.gnuplot_history
.gradle/
.groovy/
.gstreamer-0.10/
.gtkrc-2.0
.helm/
.heroku/
.histfile
.httpie/
.icons/
.ionic/
.jalopy/
.java
.jenv/
.jira.d/
.jrebel
.k3d/
.k9s/
.keychain
.keycloak/
.konan/
.kube/
.lastpass/
.lesshst
.local/
.localvimrc_persistent
.lsp4xml/
.lyrics/
.m2/
.macports/
.minikube/
.mozilla/
.mpd/
.mvnGoLang/
.mysql_history
.ngrok2/
.nmcli-history
.node/
.node-gyp/
.node_repl_history
.npm/
.npmrc
.nv/
.nvidia-settings-rc
.nvm/
.ocr-last
.oracle_jre_usage/
.ossindex/
.p2/
.pex/
.pgpass
.pki/
.plugman/
.privfiles/
.psql_history
.pulse-cookie
.python_history
.rnd
.rvm/
.sdkman/
.serverless*
.smb.conf
.sonar/
.spacelift/
.sqlite_history
.ssh/environment-*
.ssh/id_*
.ssh/known_hosts*
.steam/
.steampath
.steampid
.subversion/
.sudo_as_admin_successful
.task
.terraform.d/
.testcontainers.properties
.themes/
.thumbnails/
.tig_history
.tmux.conf.theme
.tooling/
.vaadin/
.vault-token
.viminfo
.vimtags
.vms/
.vscode/
.w3m/
.wget-hsts
.wine/
.wireshark-etc/
.wireshark/
.wpa_cli_history
.xsession-errors
.xsession-errors.old
.xsettingsd
.xsettingsd.dpi
.xsettingsd.theme
.yankring_history_v2.txt
.yarnrc
.yo-rc-global.json
.zcompdump*
.zoom/
.zoomus/
.zsh-update
.zsh_history
.zsh_sessions/

# ignore non-dotfiles
/[^.]*

# ignore all log files
*.log

state.pickle
yarn.lock
**/node_modules/**

# ignore JumpCloud originals
*.jcorig
