.ICEauthority
.NERDTreeBookmarks
.Trash/
.Xauthority
.android/
.aptitude
.arquillian/
.aws/
.azure/
.bundle/
.cache
.compiz
.config/.mono/
.config/coc/db.json
.config/coc/memos.json
.config/coc/extensions/coc-java-data/
.config/configstore
.config/doctl/
.config/git/
.config/gtk-2.0/
.config/heroku/
.config/letsencrypt/
.config/neverfail/
.config/nvim/.netrwhist
.config/nvim/.plugins/
.config/pgcli/history
.config/pgcli/log
.config/vertiscale/
.cordova/
.cups/
.docker/
.dropbox/
.dvdcss/
.eclipse/
.electron/
.fontconfig/
.fpp/
.freac/
.gem/
.gist-vim
.gitkraken/
.gnupg/
.gradle/
.groovy/
.gstreamer-0.10/
.heroku/
.histfile
.ionic/
.jalopy/
.java
.jenv/
.jrebel
.keychain
.keycloak/
.lesshst
.local/
.localvimrc_persistent
.lsp4xml/
.m2/
.mvnGoLang/
.ngrok2/
.node-gyp/
.npm/
.nvm/
.oracle_jre_usage/
.pgpass
.plugman/
.privfiles/
.psql_history
.rnd
.rvm/
.sdkman/
.sonar/
.ssh/environment-*
.ssh/id_*
.ssh/known_hosts
.subversion/
.sudo_as_admin_successful
.tooling/
.viminfo
.vimtags
.vscode/
.w3m/
.wget-hsts
.wireshark-etc/
.wireshark/
.yankring_history_v2.txt
.yarnrc
.zcompdump*
.zoomus/
.zsh-update
.zsh_history

# ignore non-dotfiles
/[^.]*

# ignore all log files
*.log

state.pickle
yarn.lock
**/node_modules/**
