.ICEauthority
.Xauthority
.aptitude
.cache
.compiz
.config/coc/db.json
.config/configstore
.config/nvim/.plugins/
.histfile
.java
.jrebel
.keychain
.lesshst
.local/
.m2/
.npm/
.nvm/
.oracle_jre_usage/
.pgpass
.psql_history
.rnd
.sdkman/
.ssh/environment-*
.ssh/id_*
.ssh/known_hosts
.sudo_as_admin_successful
.viminfo
.vimtags
.wget-hsts
.yankring_history_v2.txt
.zcompdump*
.zsh-update
.zsh_history
