[submodule "sh/omz-custom/plugins/zsh-nvm"]
	path = .omz-custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "sh/omz-custom/plugins/zsh-syntax-highlighting"]
	path = .omz-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".tmux"]
	path = .tmux
	url = git@github.com:sarumont/.tmux.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".dasht"]
	path = .dasht
	url = https://github.com/sunaku/dasht.git
[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious.git
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = git@github.com:lcpz/lain.git
