let mapleader = ","

set surround

" Keymaps {{{
map <leader>cc :action CommentByLineComment<cr>

" AceJump
" nnoremap f :action AceAction<CR>
" Press `F` to activate Target Mode
map F :action AceTargetAction<CR>
" Press `g` to activate Line Mode
" map <leader>j :action AceLineAction<CR>
" map <leader>k :action AceLineAction<CR>
" map / :action AceAction<CR>
" map <leader>f :action AceAction<CR>

" KJump
" map f :action KJumpAction<CR>
" map / :action KJumpAction.Word1<CR>
map <leader>h :action KJumpAction.Word0<CR>
map <leader>l :action KJumpAction.Word0<CR>
map <leader>j :action KJumpAction.Line<CR>
map <leader>k :action KJumpAction.Line<CR>

map <C-h> :action PrevSplitter<CR>
map <C-l> :action NextSplitter<CR>

map <leader>v :action Vcs.QuickListPopupAction<cr>

map gJ :action EditorJoinLines<cr>

" run configs
map <leader><leader>d :action Debug<CR>

" }}}

" Searching {{{
set nohlsearch
set incsearch
set ignorecase
set smartcase
" }}}

" Clipboard {{{
set clipboard+=unnamed
" }}}

" Stupid bell {{{
set visualbell
set noerrorbells
" }}}

" vim:foldmethod=marker:foldlevel=0
