! One Half Dark
#define onehalfdarkbg  #282c34
#define onehalfdarkfg  #dcdfe4
#define onehalfdark0   #282c34
#define onehalfdark1   #e06c75
#define onehalfdark2   #98c379
#define onehalfdark3   #e5c07b
#define onehalfdark4   #61afef
#define onehalfdark5   #c678dd
#define onehalfdark6   #56b6c2
#define onehalfdark7   #dcdfe4
#define onehalfdark8   #282c34
#define onehalfdark9   #e06c75
#define onehalfdark10  #98c379
#define onehalfdark11  #e5c07b
#define onehalfdark12  #61afef
#define onehalfdark13  #c678dd
#define onehalfdark14  #56b6c2
#define onehalfdark15  #dcdfe4

! One Half Light
#define onehalflightbg #fafafa
#define onehalflightfg #383a42
#define onehalflight0  #383a42
#define onehalflight1  #e45649
#define onehalflight2  #50a14f
#define onehalflight3  #c18401
#define onehalflight4  #0184bc
#define onehalflight5  #a626a4
#define onehalflight6  #0997b3
#define onehalflight7  #fafafa
#define onehalflight8  #383a42
#define onehalflight9  #e45649
#define onehalflight10 #50a14f
#define onehalflight11 #c18401
#define onehalflight12 #0184bc
#define onehalflight13 #a626a4
#define onehalflight14 #0997b3
#define onehalflight15 #fafafa

#include ".Xresources.local"
