# Linear
export LINEAR_API_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/Linear/LINEAR_API_KEY") }}'
export LINEAR_TEAM_ID='{{ template "secret" (list .secrets "" "op://dotfiles/Linear/LINEAR_TEAM_ID") }}'

# Misc
export HONEYCOMB_API_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/Misc/HONEYCOMB_API_KEY") }}'
export MPP_PACKAGES_TOKEN='{{ template "secret" (list .secrets "" "op://dotfiles/Misc/MPP_PACKAGES_TOKEN") }}'

# Moov
export PDEV_PUBLIC_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/Moov/PDEV_PUBLIC_KEY") }}'
export PDEV_PRIVATE_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/Moov/PDEV_PRIVATE_KEY") }}'
export STAGING_PUBLIC_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/Moov/STAGING_PUBLIC_KEY") }}'
export STAGING_PRIVATE_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/Moov/STAGING_PRIVATE_KEY") }}'
export PROD_PUBLIC_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/Moov/PROD_PUBLIC_KEY") }}'
export PROD_PRIVATE_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/Moov/PROD_PRIVATE_KEY") }}'

# AI
export ANTHROPIC_API_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/AI/ANTHROPIC_API_KEY") }}'
export OPENAI_API_KEY='{{ template "secret" (list .secrets "" "op://dotfiles/AI/OPENAI_API_KEY") }}'
