[Desktop Entry]
Name=Syncthing
GenericName=File Synchronizer
Comment=Sync your files across computers
Exec=syncthing
Terminal=false
Type=Application
Icon=syncthing
Categories=Network;FileTransfer;
Keywords=file;synchronization;sharing;collaboration;cloud;storage;backup;
StartupNotify=false
