{{- if eq .chezmoi.os "darwin" }}
# No oh-my-zsh package on macOS (Linux uses: yay -S oh-my-zsh-git)
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}
