set from = "richard@nuvos.com"
set sendmail = "/usr/bin/msmtp -a nuvos"
set spoolfile = "+nuvos/INBOX"
set postponed = "+nuvos/drafts"
set trash = "+nuvos/trash"
set signature="~/.mutt/nuvos.signature"

color status magenta default

unset record
subscribe

macro index O "<shell-escape>offlineimap -a nuvos -qf INBOX,archive,sent,drafts<enter>"
macro index,pager ! '<enter-command>unset resolve<enter><clear-flag>N<enter-command>set resolve<enter><save-message>+nuvos/archive<enter>'
macro index,pager @ '<enter-command>unset resolve<enter><clear-flag>N<enter-command>set resolve<enter><save-message>+nuvos/spam<enter>'

# :vim set ft=muttrc:
